<!-- contact-drop-menu -->
<li id="contact">
    <a href=""
        data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"
       ><span class="fa fa-phone"></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{site.data.linkcode.contact[pgLang]}}"><span class="fa fa-phone"></span> {{site.contact.phone}}</a></li>
        <li><a href="{{site.data.linkcode.contact[pgLang]}}"><span class="fa fa-envelope"></span> {{site.contact.email}}</a></li>
        <li><a href="{{site.data.linkcode.contact[pgLang]}}"><span class="fa fa-map-marker"></span> {{site.contact.street}}, {{site.contact.city}}</a></li>
    </ul>
</li>
