{% assign linkPage = null %}

{% if site.data.linkcode[select] %}
    {% for pg in site.pages %}
        {% if pg.url == site.data.linkcode[select][pgLang] %}
            {% assign linkPage = pg %}
            {% if select_mode == 'vgroup' or select_mode == 'see_more' %}
                {% assign see_more_label=site.data.langs[pgLang].dict.readmore %}
                {% if pg.preview.readmore %}{% assign see_more_label=pg.preview.readmore %}{%endif %}
<a href="{{ site.baseurl }}{{linkPage.url}}" class="notd">
                {% include linkPageStyleJubSection.html %}
  <div class="jub-more">
    <button class="btn btn-lg btn-success center-block">{{see_more_label}}</button>
  </div>
</a>
            {% else %}
                {% include linkPageStyleJubSection.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% unless linkPage %}
<div class="alert alert-danger">missing page for URL: {{site.data.linkcode[select][pgLang]}}</div>
    {% endunless %}
{% else %}
<div class="alert alert-danger">no link for code: '{{select}}'</div>
{% endif %}
