<div class="jub-section-nav text-center">
  <span>
    <a href="#top" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-up"></span> {{ site.data.menu[0].menutekst[pgLang] }}
    </a>
{% if next_index %}
    {% assign next_menu = site.data.menu[next_index] %}
    {% assign next_link = site.data.linkcode[next_menu.linkcode][pgLang] %}
    {% assign next_text = next_menu.menutekst[pgLang] %}
    <a href="{{next_link}}" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-down"></span> {{ next_text }}
    </a>
{% endif %}
  </span>
</div>
