{% assign linkPage = null %}

{% if site.data.linkcode[select] %}
    {% for pg in site.pages %}
        {% if pg.url == site.data.linkcode[select][pgLang] %}
            {% assign linkPage = pg %}
            {% include linkPageStyleJubSection.html %}
        {% endif %}
    {% endfor %}
    {% unless linkPage %}
<div class="alert alert-danger">missing page for URL: {{site.data.linkcode[select][pgLang]}}</div>
    {% endunless %}
{% else %}
<div class="alert alert-danger">no link for code: '{{select}}'</div>
{% endif %}
