{% for codelink in site.data.linkcode %}
    {% if pgLink == codelink[1][pgLang] %}
         {% assign hrefLangVariants = codelink[1] %}
    {% endif %}
{% endfor %}

<li id="lang-menu">
    <a href="#"
        data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle notd"
       ><span>{{ pgLang }}</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-narrow" role="menu">
{% for lang in site.data.langs %}
{% assign ln = lang[0] %}
        <li {% if ln == pgLang %}class="active"{% endif %}>
    {% capture langVariantRef %}/{{ ln }}{% endcapture %}
    {% if ln != pgLang and hrefLangVariants[ln] %}
        {% assign langVariantRef = hrefLangVariants[ln] %}
    {% endif %}
            <a href="{{ langVariantRef }}">{{ lang[1].label }}</a>
        </li>
{% endfor %}
    </ul>
</li>
