<!-- 2nd level -menu -->

{% if lvl1.submenu and lvl1.linkcode and lvl1.submenu.size > 1 %}
<div class="col-xs-12 nav jub-exhibit">
    {% for m2 in lvl1.submenu %}
        {% for pg in site.pages %}
            {% if pg.url == site.data.linkcode[m2.linkcode][pgLang] %}
  <a href="{{site.baseurl}}{{ pg.url }}" class="notd" >
    <div class="text-center col-xs-12 col-md-6 {% if lvl2 == m2 %}active{% endif %}" >
      <img src="{{site.baseurl}}{{pg.preview.image}}" class="img img-rounded img-responsive">
      <span class="title">{{pg.title}}</span>
    </div>
  </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
