---
tcs: [1,2,3,5,6,9]
---
<!DOCTYPE html>
{% include layout-prelude.html %}

<html lang="{{ pgLang }}">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <!-- atom feed -->
    <link rel="alternate" type="application/atom+xml" href="/atomfeed.xml">

    <!-- meta-data -->
    {% include meta.html %}

    <!-- Custom CSS -->
    <!--
    <link type="text/css" rel="stylesheet" href="/css/supersized.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body data-translations='{{ site.data.langs[pgLang] | jsonify }}' data-embargo='{{ site.embargo | jsonify }}' data-baseurl="{{ site.baseurl }}">

    <header {% unless page.insert contains 'banner' %}class="spaced"{%endunless%}>
      <nav class="navbar navbar-default navbar-inverse">
        <div class="vd-menu"><div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vd-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/{{ pgLang }}"><img id="logo" src="{{ site.baseurl }}{{ site.data.logo[0] }}" title="Veld &amp; Duin" data-imgs='{{ site.data.logo | jsonify }}' data-imgbase="{{ site.baseurl }}"></a>
        </div>

        <div id="vd-menu" class="navbar-collapse collapse">
            {% include main-menu.html %}

          <ul class="nav navbar-nav navbar-right">
            {% include langs-menu.html %}
            {% include contact-menu.html %}
            {% include search-menu.html %}
          </ul>
        </div>

        </div></div>
      </nav>
    {% if page.insert contains 'banner' %}
         {% assign bannerimg = '/img/style/banner.jpg' %}
         {%if page.preview.image %}{% assign bannerimg = page.preview.image %}{%endif%}
         {%if page.bannerimg %}{% assign bannerimg = page.bannerimg %}{%endif%}
      <div class="vd-banner hidden-sm hidden-xs {% if page.embargo %}embargo-hidden{% endif %}"
          style="background-image: url('{{site.baseurl}}{{bannerimg}}'); background-position: center center; background-size: cover;"
      ></div>
    {% endif %}

    {% if page.media.size > 0%}
      <div id="media-player" class="media-container vd-callout-form" data-baseurl="{{site.baseurl}}">
        <div class="media-content-wrap">
          <div class="vgroup-ctrl left">
            <button class="btn btn-default" role="vctrl-prev"><span class="glyphicon glyphicon-chevron-left"></span></button>
          </div>
          <div role="content" class="media-content col-xs-12">
            <div class="alert alert-info">play media here.</div>
          </div>
          <div class="vgroup-ctrl right">
            <button class="btn btn-default" role="vctrl-next"><span class="glyphicon glyphicon-chevron-right"></span></button>
          </div>
        </div>
        <button role="close" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-remove"></span> {{site.data.langs[pgLang].dict.close}}</button>
      </div>
    {% endif %}
    </header>

    {% assign lvl2nav = false %}
    {% if lvl1.submenu and lvl1.linkcode and lvl1.submenu.size > 1 %}
        {% assign lvl2nav = true %}
    {% endif %}

    <article>
      <div class="container-fluid">
        <div id="content" class="{% if page.embargo %} embargo-locked {% endif %} col-lg-12 col-md-12 col-sm-12 col-xs-12" >

    {% if lvl2nav %}
          <div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-4 col-xs-push-8 ">
        {% include geonav.html %}
        {% include secondary-menu.html %}
          </div>
          <div class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-8 col-xs-pull-4 ">
    {% endif %}

    {{ content }}

    {% if lvl2nav %}
          </div>
    {% endif %}


    {% if page.insert contains 'virtualtour' %}
        {% include virtualtour.html %}
    {% endif %}
    {% if page.insert contains 'play-album' %}
        {% include play-album.html %}
    {% endif %}
        </div>
      </div>
    </article>

    <footer>
      <div id="footer" class="vd-footer">

        <!-- more footer elements? -->
        <div id="contact" class="vd-contact" itemscope itemtype="http://schema.org/Place">
        <a href="{{ site.url }}{{ pgLang }}" class="vd-barelink">
        <div class="container-fluid" >
          <span>&copy; 2016 mini-site by </span> <img src="{{site.baseurl}}/img/style/by_veldenduin.png">
        </div>
        </a>
        </div>
      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" charset="utf-8"
        src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>

    <!-- check latest at https://developers.google.com/speed/libraries/devguide#jquery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script type='text/javascript' src='/js/jquery-2.1.3.min.js'><\/script>");
    </script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>

<!--
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/moment-with-locales.js"></script>

    <!-- using version 2.2.2 retrieved from cdn -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/rusha.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

    {% for jscript in page.extrajs %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/{{jscript}}.js"></script>
    {% endfor %}

    <!-- todo: dynamic load scripts are injected here... use this template:
    <script type="text/javascript">(function() {
        window.addEventListener("load", function () {
            var tag = document.createElement('script');
            tag.type = 'text/javascript'; tag.async = true;
            tag.src = '{{ site.baseurl }}/js/yourscript.js';
            var ps = document.getElementById('vd-post-script');
            ps.parentNode.insertBefore(tag, ps);
        });
    }());</script>
    -->
    <hr style="display:none" id="vd-post-script" >

{% include ga.html %}

  </body>
</html>
