---
layout: default
---
{% include layout-prelude.html %}

<h2 class="pull-left">
{% if page.icon.src %}
  <img src="{{site.baseurl}}{{page.icon.src}}" 
       class="jub-exhibit-icon
           {%if page.icon.color %}b-{{page.icon.color}}{% endif %}
           {%if page.icon.fill  %}f-{{page.icon.fill}}{% endif %}" >
{% endif %}
    {{page.title}}
</h2>

{% if page.media.size > 0%}
<a href="#media">
  <button class="btn btn-default pull-right hidden-lg hidden-md">
    <span class="glyphicon glyphicon-paperclip"></span>
    {{site.data.langs[pgLang].dict.mediatitle}}
  </button>
</a>
{% endif %}


<div class="clearfix"></div>

<div class="row clearfix media-content">
{{content}}
</div>

{% if page.media.size > 0%}
<hr>

<div class="row vd-group-list vd-group-grid">
  <h3><a name="media"></a>
    <span class="glyphicon glyphicon-paperclip"></span>
    {{site.data.langs[pgLang].dict.mediatitle}}
  </h3>
    {% for media in page.media %}
  <div class="vd-group-item col-xs-6 col-sm-6 col-md-4 col-lg-3 media-item" data-media="{{media | jsonify}}">
    {% assign medialink = media.link %}
    {% assign typelink = '/img/svg/style/media-' |append: media.type |append: '.svg' %}
    {% assign typealtlink = '/img/svg/style/media-' |append: media.type |append: '-alt.svg' %}
    {% assign imglink = typelink %}
    {% assign mediatitle = media.title %}
    {% if media.type == 'image' %}{% assign imglink = medialink %}{% endif %}
    {% if media.view %}{% assign imglink = media.view %}{% endif %}
    {% unless media.title %}{% assign mediatitle = medialink |split: '/'|last%}{% endunless %}
    <a class="vd-location" name="mx-{{forloop.index}}" href="#mx-{{forloop.index}}"
       role="medialink" data-media='{{media | jsonify}}' data-icon='{{typelink}}'>
      <div
          class="vd-group-item-inner"
          style="background-image: url('{{site.baseurl}}{{imglink}}'); background-repeat: no-repeat; background-size: cover;">
        <div class="vd-group-content">
          <div class="vd-group-content-inner clearfix">
            <div class="vd-group-info">
              <img class="pull-right img img-responsive" src="{{site.baseurl }}{{typelink}}">
            </div>
            <div class="vd-group-title">{{mediatitle}}</div>
          </div>
        </div>
      </div>
    </a>
    <template id="mx-{{forloop.index}}">
      <div class="row row-centered mediaview">
        <div class="col-xs-12">
          <div class="col-xs-12 col-centered mediatitle">
            <h3><img class="pull-left img img-responsive" src="{{site.baseurl }}{{typealtlink}}">{{mediatitle}}</h3>
          </div>
          <div class="col-xs-12 col-centered">
    {% if media.type == 'image' %}
            <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 col-centered">
              <img src="{{site.baseurl}}{{medialink}}" class="img img-responsive">
            </div>
    {% elsif media.type == 'app' %}
            <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 col-centered">
              <a href="{{site.baseurl}}{{medialink}}">
                <img src="{{site.baseurl}}{{imglink}}" class="img img-responsive">
              </a>
            </div>
    {% elsif media.type == 'audio' %}
            <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 col-centered ">
              <img src="{{site.baseurl}}{{imglink}}" class="img img-responsive">
              <br >
              <div align="center">
                <audio autoplay controls class="embed-responsive-item" >
                  <source src="{{site.baseurl}}{{medialink}}" type="audio/mp3">
                  <div class="alert alert-warning">
                    {{site.data.langs[pgLang].dict.noaudio}}
                    <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
                  </div>
                </audio>
              </div>
            </div>
    {% elsif media.type == 'video' %}
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 col-centered">
              <div align="center">
                <video autoplay controls style="width: 100% !important; height: auto !important;" poster="{{site.baseurl}}{{imglink}}">
                  <source src="{{site.baseurl}}{{medialink}}" type="video/mp4">
                  <div class="alert alert-warning">
                    {{site.data.langs[pgLang].dict.novideo}}
                    <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
                  </div>
                </video>
              </div>
            </div>
    {% elsif media.type == 'youtube' %}
            <div class='embed-container'>
              <iframe class="ytvideo" src='http://www.youtube.com/embed/{{media.code}}?enablejsapi=1' frameborder='0' allowfullscreen></iframe>
            </div>
    {% else %}
            <div class="col-xs-12 col-centered">
              <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
            </div>
    {% endif %}
          </div>
        </div>
      </div>
    </template>
  </div>
    {% endfor %}
</div>
<br>
<div class="col-xs-12">
  <a href="{{site.data.linkcode.exhibit_index[pgLang]}}"><button class="btn btn-lg btn-info">{{site.data.langs[pgLang].dict.practical}}</button></a>
</div>

{% endif %}
