---
layout: default
---
{% include layout-prelude.html %}

<a href="#media">
  <button class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-paperclip"></span>
    {{site.data.langs[pgLang].dict.mediatitle}}
  </button>
</a>
<a href="{{site.baseurl}}todo-link-audiopage-js?">
  <button class="btn btn-default pull-right">
    <i class="fa fa-microphone" aria-hidden="true"></i>
    {{site.data.langs[pgLang].dict.outloud}}
  </button>
</a>
<h2>{{page.title}}</h2>

<div class="media-content">
{{content}}
</div>

{% if page.media.size > 0%}
<hr>

<div class="row vd-group-list vd-group-grid">
  <h3><a name="media"></a>
    <span class="glyphicon glyphicon-paperclip"></span>
    {{site.data.langs[pgLang].dict.mediatitle}}
  </h3>
    {% for media in page.media %}
  <div class="vd-group-item col-xs-12 col-sm-6 col-md-4 col-lg-3 media-item" data-media="{{media | jsonify}}">
    {% assign medialink = media.link %}
    {% assign typelink = '/img/svg/style/media-' |append: media.type |append: '.svg' %}
    {% assign imglink = typelink %}
    {% assign mediatitle = media.title %}
    {% if media.type == 'image' %}{% assign imglink = medialink %}{% endif %}
    {% if media.view %}{% assign imglink = media.view %}{% endif %}
    {% unless media.title %}{% assign mediatitle = medialink |split: '/'|last%}{% endunless %}
    <a class="vd-location" name="mx-{{forloop.index}}" href="#mx-{{forloop.index}}"
       role="medialink" data-media='{{media | jsonify}}'>
      <div
          class="vd-group-item-inner"
          style="background-image: url('{{site.baseurl}}{{imglink}}'); background-repeat: no-repeat; background-size: cover;">
        <div class="vd-group-content">
          <div class="vd-group-content-inner clearfix">
            <div class="vd-group-info">
              <img class="pull-right img img-responsive" src="{{site.baseurl }}{{typelink}}">
            </div>
            <div class="vd-group-title">{{mediatitle}}</div>
          </div>
        </div>
      </div>
    </a>
    <template id="mx-{{forloop.index}}">
      <div class="row row-centered">
        <div class="col-xs-12">
          <div class="col-xs-12 col-centered"><h3>{{mediatitle}}</h3></div>
          <div class="col-xs-12 col-centered">
    {% if media.type == 'image' %}
            <img src="{{site.baseurl}}{{medialink}}" class="img img-responsive">
    {% elsif media.type == 'audio' %}
            <div class="col-xs-12 col-sm-10 col-sm-push-2 col-centered">
              <img src="{{site.baseurl}}{{imglink}}" class="img img-responsive">
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-push-2 col-centered">
              <div align="center" >
                <audio autoplay controls class="embed-responsive-item" >
                   <source src="{{site.baseurl}}{{medialink}}" type="audio/mp3">
                  <div class="alert alert-warning">
                  {{site.data.langs[pgLang].dict.noaudio}}
                  <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
                  </div>
                </audio>
              </div>
            </div>
    {% elsif media.type == 'video' %}
            <div class="col-xs-12 col-sm-10 col-sm-push-2 col-centered">
              <div align="center">
                <video autoplay controls style="width: 100% !important; height: auto !important;" poster="{{site.baseurl}}{{imglink}}">
                  <source src="{{site.baseurl}}{{medialink}}" type="video/mp4">
                  <div class="alert alert-warning">
                  {{site.data.langs[pgLang].dict.novideo}}
                  <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
                  </div>
                </video>
              </div>
            </div>
    {% else %}
            <div class="col-xs-12 col-sm-10 col-sm-push-2 col-centered">
              <p><a href="{{medialink}}" target="_blank">{{mediatitle}}</a></p>
            </div>
    {% endif %}
          </div>
        </div>
      </div>
    </template>
  </div>
    {% endfor %}
</div>
{% endif %}
