---
layout: default

---
{% include layout-prelude.html %}

<a name="top"></a>
<div class="jub-intro text-center center-block">
  {{ content }}
</div>

{% for section in site.data.menu %}
{% assign section_linkcode = section.linkcode %}
{% assign section_link = site.data.linkcode[section_linkcode][pgLang] | split: '#' | last %}
{% assign section_text = section.menutekst[pgLang] %}
    {% if forloop.index != 1 %}
<a name="{{ section_link }}"></a>
<div class="jub-section-wrap {% cycle 'e','o' %} {%cycle 'bg-cb','bg-cb','' %} bg-k{% cycle '1','4','2','5','3' %}">
  <h2 class="text-center">{{ section_text }}</h2>
        {% include jub-section.html %}
</div>
    {% endif %}
{% endfor %}
